.container--body {
    font-family: "MiFuentePersonalizada", sans-serif;
    background-color: $primario;
    margin: 0;
    padding: 0;

    p {
        color: $negro;
        font-size: 1.5rem;
    }

    a {
        text-decoration: none;
        color: $negro;
    }
}
.container--titulo {
    @include contenedor(flex,center,center);
    padding: 2rem;
  
  
}