@media (max-width: 990px) {
    
    .custom-height-lg {
        max-height: 10rem;
        /* Ajusta la altura máxima según tu preferencia */
    }

    .tamaño--imagen {
        max-height: 30rem;
    }

    
}

@media (max-width: 1400px) {
    main {

        .espacio-container {
            padding-left: 11rem;

        }
    }
}