$primario: #04949b;
$primarioOscuro: #047C82;
$secundario: #f3aa04;
$secundarioOscuro: #F5770C;
$negro: #000;
$blanco: #Fff;

@font-face {
    font-family: 'MiFuentePersonalizada';
    src: url('../../assets/fonts/helveticanowtext-bold-demo.ttf') format('truetype');
}